/*General Style*/
h1,
h2 {
    text-shadow: 1px 1px 1px grey;
    display: inline-block;
}

h1 {
    margin-left: 20px;
    margin-right: auto;
    display: inline-block;
    color: black;
    text-shadow: 1px 1px 1px green;
}

h2 {
    margin-bottom: 40px;
    text-shadow: 0.5px 0.5px 0.5px green;
}

.row{
    margin-bottom: 40px;;
}


/*Navbar Style*/

.navbar {
    background-color: #007806;
    color: #fff;
    border-color: transparent;
    z-index: 10;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: aqua;
}

p {
    text-align: justify;
}

.dropdown-toggle {
    color: #fff;
}

figcaption {
    text-align: center;
}


/*header style*/




.page-header {
    border-bottom: 0px;
}


/*Slider Style*/

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-inner>.item>img {
    margin: auto;
}


/*Social media style*/

#social {
    text-align: center;
}

#social .row a .fa {
    color: black;
    margin: 5px;
}

#social .row a .fa:hover {
    color: chartreuse;
}


/*O Nas style start*/

#about-figure img {
    border-radius: 5px;
}

#about-figure a {
    height: 500px;
    width: 100%;
}

.row {
    text-align: left;
    display: inline-block;
}

.parallax {
    /* The image used */
    background-image: url(../img/dogs-2195708_640.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Section Oferta Style*/

.thumbnail color {
    background-color: aquamarine;
}

.thumbnail .team img {
    transition: 1s;
}

.thumbnail .team img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.team {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 283.33px;
    overflow: hidden;
}

.img-circle {
    width: 80%;
    border-radius: 150px;
    background-color: black;
    transition: 0.5s;
}

.img-circle:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}

.thumbnail color {
    background-color: black;
}

#div1{
    display: none;
}