/*General Style*/

h1,
h2 {
    text-shadow: 1px 1px 1px grey;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
}

h1 {
    margin-left: 20px;
    margin-right: auto;
    display: inline-block;
    color: black;
    text-shadow: 1px 1px 1px green;
    font-family: 'Roboto Slab', serif;
}

h2 {
    width: 100%;
    color: #fff;
    background: radial-gradient(ellipse at center, #008a00 -1%, #b4ddb4 0%, #83c783 0%, #008a00 0%, #008a00 2%, #005700 100%, #52b152 100%, #002400 100%, #005700 101%);
    margin-bottom: 40px;
    text-shadow: 0.5px 0.5px 0.5px #000;
    padding: 5px;
}

.row {
    margin-bottom: 40px;
}

p:not(.adress-time) {
    font-size: 18px;
}

.btn-primary.active {
    border: 1px solid green;
    margin: 10px;
    background-color: green;
    transition:0.5s;
}
.btn-primary.active:hover{
    background:#000;
    transition:0.5s;
}


/*Navbar Style*/

.navbar {
    position: sticky;
    top: 0px;
    background-color: #000;
    color: #fff;
    border-color: transparent;
    z-index: 10;
    border-radius: 0px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 1.6rem;
}

.navbar-default .navbar-nav>li>a:active {
    color: orangered;
}

.navbar-default .navbar-nav>li>a:focus {
    color: green;
}

.navbar-default .navbar-nav>li {
    width: 140px;
    border-right: 1px solid green;
}

.navbar-default .navbar-nav>li>a:hover {
    background: radial-gradient(ellipse at center, #008a00 -1%, #b4ddb4 0%, #83c783 0%, #008a00 0%, #008a00 2%, #005700 100%, #52b152 100%, #002400 100%, #005700 101%);
    color: #fff;
}

.dropdown-toggle {
    color: #fff;
}

figcaption {
    font-size: 1.5em;
    text-align: center;
}


/*header style*/

.page-header {
    border-bottom: 0px;
}


/*Slider Style*/

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-inner>.item>img {
    margin: auto;
}

.btn-header {
    border-radius: 12px;
    background: transparent;
    color: black;
    width: 200px;
    height: 50px;
    border: 1px solid black;
}

.btn-header:hover {
    background-color: forestgreen;
    color: #fff;
    transition: 1s;
}


/*Social media style*********************************************************************************************************************************************************************************************************/

#social {
    text-align: center;
}

#social-media #social #social-row {
    text-align: right;
}

#social .row a .fa {
    color: black;
    margin: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#social .row a .fa:hover {
    color: chartreuse;
}

#phone-header {
    text-align: left;
}

#phone-header a {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#social-media .col-logo {
    text-align: center;
}

#social-media .logo {
    width: 180px;
}


/*O Nas style start*/

#about-figure img {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
}

#about-figure a {
    height: 500px;
    width: 100%;
}

.parallax {
    position: relative;
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../img/weterynarz-wieliczka-wojtaszek.png);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.parallax-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.parallax-info p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}


/*Section Oferta Style****************************************************************************************************************************************************************************************************/

.thumbnail {
    border: 0px;
    box-shadow: 0px 18px 36px -7px rgba(0, 0, 0, 0.75);
}

.thumbnail .team img {
    width: 100%;
    transition: 1s;
}

.thumbnail .team img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.team {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 283.33px;
    overflow: hidden;
}

.img-circle {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    background-color: black;
    transition: 0.5s;
}

.img-circle img {
    width: 50%;
}


/*Team Section*************************************************************************************************************************************************/

#team {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/puppy-919213_1280.jpg);
    width: 100%;
    height: 500px;
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


/*Oferd SECTION*************************************************************************************************************************************************************************************************/

.oferd .thumbnail img {
    width: 200px;
    height: 200px;
    ;
    background-color: black;
}

.oferd figcaption {
    padding-bottom: 50px;
}

#div1 {
    display: none;
}

#div1 h3 {
    margin-top: 0px;
    border-bottom: 1px solid black;
}

#div1 figure img {
    width: 100%;
    margin-bottom: 10px;
}


/*Section DRIVE*****************************************************************************************************************************************************************************************************8*/

#drive h3 {
    border-bottom: 1px solid black;
    margin-top: 0px;
}

#drive iframe {
    width: 100%;
}

#drive img {
    width: 100%;
}

#drive #logo-drive {
    width: 30%;
}

#drive i {
    margin-top: 10px;
}

#drive h4 {
    color: #fff;
    background-color: black;
    padding: 10px;
    line-height: 66px;
    margin-bottom: 0px;
}


/*Footer*****************************************************************************************************************************************************************************************************/

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/kotek.jpg);
    color: #fff;
    background-size: cover;
    background-position: center;
}

footer figure img {
    width: 100%;
}

footer h3 {
    border-bottom: 1px solid #fff;
}

footer .row h5 {
    text-align: center;
    color: darkgray;
}

#social-footer {
    margin-bottom: 0px;
    text-align: center;
}

footer #social-footer .fa {
    color: darkgrey;
    margin: 10px;
    transition: 0.5s;
}

footer #social-footer .fa:hover {
    color: greenyellow;
    transition: 0.5s;
    transform: scale(1.1);
}

footer address {
    font-size: 1.3em;
    padding: 5px;
}

footer address a {
    color: #fff;
}


/*Author*******************************************************************************************************************************************************************************************88*/

#author p {
    margin-bottom: 0px;
    padding: 5px;
    font-size: 12px;
    background-color: black;
    opacity: 0.9;
    color: grey;
}

#end {
    position: fixed;
    z-index: 100;
    bottom: 5%;
    width: 40px;
    height: 40px;
    background: grey;
    border-radius: 10px;
    right: 5%;
    line-height: 40px;
    text-align: center;
    opacity: 0.6;
    color: #fff;
    display: none;
}


/*kontakt html*/

.message .col-md-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message input,
textarea {
    display: block;
    width: 500px;
    height: 35px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1.5px solid #007700;
}
.message input[type="text"],input[type="email"]::placeholder{
    padding-left:2px;
}
@media (max-width:576px){
    .message input,
    textarea{
        width: 100%;
    }
}

textarea {
    height: 80px;
    overflow: hidden;
}

input[type="submit"] {
    background: #007700;
    color: #fff;
    transition: 0.5s;
}

input[type="submit"]:hover {
    background: #191919;
    transition: 0.5s;
    border:0px;
    color:#007500;
}

/*oferta.html style************************************************************/
#div2 .icons-header figure{
    
   
text-align: center;
}

#div2 .icons-header .col-md-6{
    position:relative;
    background: #000;
    color:#000;
    border:1px solid #fff;
    padding:10px;
    transition:0.5s;
}
#div2 .icons-header .col-md-6:hover{
    background: #2B2B2B;
    
    transition: 0.5s;
}
#div2 .icons-header figcaption{
    color:green;
}
#div2 .icons-header{
    margin-bottom: 0px;
}

.vet-offer{
    margin-top:40px;
}
.vet-offer::before{
    content:"";display:block;
    border-top:2px solid green;
    height: 20px;
    
}



